<!DOCTYPE html>
<html>
<head>
<title>badSQL - Cargar Archivo</title>
<meta charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/StylePrincipal.css}" rel="stylesheet">

</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-static-top" id="1">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Este boton despliega la barra de
							navegacion</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="Principal.html"> <img
						class="img-responsive img-circle" id="logo"
						th:src="@{/img/logoSQL.png}" width="50" height="50"></a> <a
						class="navbar-brand" href="Principal.html">badSQL </a>
				</div>
			</div>
		</nav>
	</div>
	<div class=container-fluid>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">Cargar el archivo deseado:</div>
					<div class="panel-body"></div>
					<form id="upload-file-form">
						<label for="upload-file-input">Cargue Su archivo csv</label> <input
							id="upload-file-input" type="file" name="cargararchivo"
							accept=".csv" /> <br /> <span id="upload-file-message"></span>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$("#upload-file-input").on("change", cargarArchivo);
		});

		function cargarArchivo() {
			$.ajax({
				url : "/cargarArchivo",
				type : "POST",
				data : new FormData($("#upload-file-form")[0]),
				enctype : 'multipart/form-data',
				processData : false,
				contentType : false,
				cache : false,
				success : function() {
					// Handle upload success
					$("#upload-file-message").text("Cargado exitosamente");
				},
				error : function() {
					// Handle upload error
					$("#upload-file-message")
							.text("Error de carga del archivo");
				}
			});
		} // function uploadFile
	</script>
</body>
</html>