<!DOCTYPE html>
<html>
<head>
<title>Mostrar Archivos</title>
<meta charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/StylePrincipal.css}" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-static-top" id="1">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Este boton despliega la barra de
							navegacion</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="Principal.html"> <img
						class="img-responsive img-circle" id="logo"
						th:src="@{/img/logoSQL.png}" width="50" height="50"></a> <a
						class="navbar-brand" href="Principal.html">badSQL </a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="Principal.html"><span
								class="glyphicon glyphicon-arrow-left"></span> Volver al Gestor</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div th:if="${nombreTabla}">
						<div th:if="${nombreTabla.isEmpty()}">
							<br>
							<div class="alert alert-danger">
								<strong th:text="#{errorList}"></strong>
								<h4 th:text="#{messageErrorList}"></h4>
							</div>
						</div>
					</div>

					<div th:if="${!nombreTabla.isEmpty()}">
						<div class="panel-heading">Consultas</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-4" th:each="entry,status : ${nombreTabla}">
									<div class="panel panel-default">
										<div class="panel-heading" th:text="${entry}"></div>
										<div class="panel-body"  th:each="entry1,status1 : ${columnaTabla}">
											<ul>
												<li th:text="${entry1}"></li>
												
											</ul>
											<ul  th:each="entry2,status2:${datoTabla}">
											<li th:text="${entry2}"></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- panel body-->
							</div>
							<!-- panel-body-->
						</div>
						<!-- verificacion que la lista tenga elementos -->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>